body {
	background-color: navy;
	color: black;
}

h1 {
	color: gray;
}

p {
	font-size: 12px;
	font-family: Georgia;
}

iframe {
	border: 0;
}

#container {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	background-color: white;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

div.mainImage {
	border: 2px solid black;
	width: 300px;
	padding: 10px;
}

img.imageStyle {
	width: 100%;
}










