a
{
	color:#08c;
	font-weight:400;
	text-decoration:none;
}

a:hover
{
	border-bottom:1px dotted #0a7bc1;
	color:#005580;
}

#container
{
	margin:30px auto;
	position:relative;
	width:960px;
}

header
{
	background:#FFF;
	border:1px solid #b0b0af;
	min-height:480px;
	overflow:hidden;
	width:100%;
}

#logo
{
	-moz-border-radius:5px;
	-moz-box-shadow:0 1px 2px #757575;
	-webkit-border-radius:5px;
	-webkit-box-shadow:0 1px 2px #757575;
	border:1px solid #ebebea;
	border-radius:5px;
	box-shadow:0 1px 2px #757575;
	height:188px;
	left:23px;
	margin-top:-140px;
	position:absolute;
	width:188px;
}

#logo img
{
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border:4px solid #FFF;
	border-radius:2px;
	height:180px;
	width:180px;
}

#name h2
{
	margin-left:220px;
}

#coverimage
{
	border-bottom:1px solid #b0b0af;
	height:320px;
}

#details
{
	min-height:100px;
}

#details #info
{
	-moz-border-radius-bottomright:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-bottom-right-radius:4px;
	-webkit-border-top-right-radius:4px;
	background:#DDD;
	border-bottom-right-radius:4px;
	border-top-right-radius:4px;
	height:85px;
	width:400px;
}

#details #info p
{
	margin-left:20px;
	margin-right:20px;
}

#details #images ul
{
	list-style:none;
	margin:0;
	padding:0;
	top:0px;
}

#details #images li
{
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border:1px solid #EAEAEA;
	border-radius:3px;
	float:left;
	margin-left:17px;
	margin-top:0;
	padding:2px;
}

#details ul:hover > li:hover
{
	-moz-box-shadow:inset 0 0 1px #000;
	-webkit-box-shadow:inset 0 0 1px #000;
	box-shadow:inset 0 0 1px #000;
}

#content {
	position: relative;
}

#content #spine {
 background: url(../img/spine.png) repeat-y center top;
 top: 0px;
 margin: 0px;
 padding: 15px 0;
 position: relative;
 list-style: none;
 display:block;
}

#content #spine .unit[data-side="l"] {
  clear: left;
  float: left;
}

#content #spine .unit[data-side="r"] {
  clear: right;
  float: right;
}

#content #spine .unit {
 display: block;
 margin-bottom: 15px;
 position: relative;
}

#content #spine .unitcontainer {
  width: 444px;
  background: #FFF;
  border:1px solid #b0b0af;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  padding: 10px
}

.unitcontainer .pointer {
 content: "";
 background-repeat: no-repeat;
 left: auto;
 top: 30px;
 position: absolute;
 width: 23px;
 z-index: 3;
 height: 15px;
}

.unit[data-side="l"] .pointer {
	 background-image: url(../img/leftpointer.png);
	right: -18px;
}

.unit[data-side="r"] .pointer {
	 background-image: url(../img/rightpointer.png);
	 left: -18px;
}
.unitcontainer:hover {
	-moz-box-shadow:inset 0 0 1px #000;
	-webkit-box-shadow:inset 0 0 1px #000;
	box-shadow:inset 0 0 1px #000;
}

.unit[data-side="l"] > .unitcontainer:hover .pointer {
	background-image: url(../img/leftpointerhover.png);
}

.unit[data-side="r"] > .unitcontainer:hover .pointer {
	background-image: url(../img/rightpointerhover.png);
}

#content .vidwrap {
	margin-top: 20px;
	height: 315px;
	width: 445px;
}

